<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" >
	<test name="Test">
		<classes>
			<class name="Appium.TestCases.SearchTestCase"/>
			<class name="Appium.TestCases.LoginTestCase"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->